
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');
@import url('components/card.css');
@import url('components/navbar.css');
@import url('components/button.css');

h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #D4AC0D;
	text-shadow: 2px 2px #000000;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px #717D7E;	
}

h4 {
	font-family: 'Lato', sans-serif;
	margin: 3px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	margin: 3px;
}

body {
	background-color: #F8F9F9;
	padding: 20px;
}

.review-text {
	font-size: 8px;
	text-align: right;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.blog-text-body {
	font-size: 10px;
}